<!--The content below is only a placeholder and can be replaced.-->
<!--<h1>{{title}}</h1>-->

<!--<nav>-->
  <!--<a routerLink="/login">login</a>-->

  <!--<a routerLink="/regist">regist</a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->


  <!--<div class="container-fluid">-->

        <h2>Demo Task</h2>
        <!--<div class="form-group">-->
          <!--<nav>-->
          <!--<a role="button" class="btn btn-outline-primary" routerLink="/login">login</a>-->
          <!--<a role="button" class="btn btn-outline-primary" routerLink="/regist">regist</a>-->
          <!--</nav>-->
          <app-employee></app-employee>
          <!--<router-outlet></router-outlet>-->
        <!--</div>-->
  <!--</div>-->

